{% extends "myapp/base.html" %}



{% block content %}
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <h5 class="card-title text-center">ログイン</h5>
    <form action="{% url 'login' %}" method="POST">
        {{ form }}
        <button type="submit" class="btn btn-primary btn-block">ログイン</button>
        <input type="hidden" name="next" value="{{ next }}"/>
        {% csrf_token %}
    </form>
    <a href="{% url 'password_reset' %}">パスワードをお忘れですか?</a>


    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <table>
        <tr>
            <td>{{ form }}</td>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
            <!-- <td>{{ form.email.label_tag }}</td>
            <td>{{ form.email }}</td> -->

        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
        </table>

        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <div class="card-footer text-muted text-center">
        <a href="{% url 'password_reset' %}">パスワードをお忘れですか?</a>
        <a href="{% url 'create_account' %}">Sign up</a>
    </div>

{% endblock %}