dj-database-url==0.5.0
Django==2.2.24
-e git://github.com/AndrewIngram/django-extra-views.git@31dd9ed7d1a06924b22be91f49d713482a011954#egg=django_extra_views
gunicorn==20.0.4
# psycopg2==2.8.5
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
whitenoise==5.1.0
psycopg2==2.7.6.1