{% extends 'myapp/base.html' %}

{% block content %}

    <h1>コメント一覧</h1>
    {% for comment in comments %}
        {% if comment.approved_comment %}
            <div class="comment">
                <strong>
                  <a href="{% url 'user_detail' pk=comment.user.pk %}">
                    {{ comment.user.username }}
                  </a>
                </strong>
                <div class="date">
                  {{ comment.created_date }}
                </div>
                <strong>
                  <a href="{% url 'post_detail' pk=comment.program.pk %}">
                    {{ comment.program }}
                  </a>
                </strong>
                <p>{{ comment.text }}</p>

                <!-- いいね -->
                {% if user.is_authenticated %}
                    {% if user in comment.like_user.all %}
                        <a class="btn btn-default" aria-pressed="true" onclick="like_com(event, '{{ user.id }}', '{{ comment.id }}')">
                        いいね<span>({{ comment.like_user.count }})</span></a>
                    {% else %}
                        <a class="btn btn-default" aria-pressed="false" onclick="like_com(event, '{{ user.id }}', '{{ comment.id }}')">
                        いいね<span>({{ comment.like_user.count }})</span></a>
                    {% endif %}
                {% else %}
                    お気に入り<span>({{ comment.like_user.count }})</span>
                {% endif %}
            </div>
        {% endif %}
    {% empty %}
        <p>No comments here </p>
    {% endfor %}
{% endblock %}