{% extends 'myapp/base.html' %}

{% block content %}
    {% for program in programs %}
        <div class="post">
            <!-- <div class="date">
                <p>掲載日: {{ program.published_date }}</p>
            </div> -->
            <h2>
              <a href="{% url 'post_detail' pk=program.pk %}">
                {{ program.title }}
              </a>
            </h2>
            <p>出演者：
            {% for dj in program.djs.all %}
              {{ dj.dj_name }}
              {% if not forloop.last %}
                ,
              {% endif %}
            {% endfor %}
            </p>
            <p>{{ program.corner_title|linebreaksbr }}</p>
            <p>ラジオ局：
            {% for station in program.stations.all %}
              {{ station.get_station_name_display }}
              {% if not forloop.last %}
                /
              {% endif %}
            {% empty %}
              No select 
            {% endfor %}
            </p>

            <a href="{% url 'post_detail' pk=program.pk %}">
              Comments: {{ program.approved_comments.count }}
            </a>
        </div>
    {% endfor %}
{% endblock %}