{% extends 'myapp/base.html' %}

{% block content %}

  <h1>検索結果</h1>
  <div class="message-body">
    {% for message in messages %}
      <p>{{ message }}:{{ program.count }}件</p>
    {% endfor %}
  </div>
  {% for program in program %}
  <div class="post">
    <h2>
      <a href="{% url 'post_detail' pk=program.pk %}">
        {{ program.title }}
      </a>
    </h2>
    <p>出演者：
      {% for dj in program.djs.all %}
      {{ dj.dj_name }}
      <!-- 末尾ではない場合 -->
      {% if not forloop.last %}
        ,
      {% endif %}
    {% endfor %}
    </p>
    <p>ラジオ局：
      {% for station in program.stations.all %}
        {{ station.get_station_name_display }}
          {% if not forloop.last %}
              /
          {% endif %}
          {% empty %}
            No select 
          {% endfor %}
    </p>
    <p>お気に入り：{{ program.okini_num }}</p>
    <a href="{% url 'post_detail' pk=program.pk %}">
      Comments: {{ program.okini_num }}
    </a>
  </div>
  {% endfor %}

{% endblock %}