{% extends 'myapp/base.html' %}

{% block content %}
  <form method="GET" action="{% url 'post_search' %}">
    <legend>検索</legend>
    <input type="text" name="keyword">
    <button type="submit">検索</button>
  </form>

  <form method="GET" action="{% url 'genre_search' %}" name="filter_form">
    <legend>絞り込み条件</legend>
    <div>
        <span>ジャンル：</span>
        {% for genre in genres %}
            <input type="checkbox" id="filter_kind_{{ genre.pk }}" 
                name="genre" 
                value="{{ genre.pk }}">{{ genre.get_genre_name_display }}
        {% endfor %}
        <button id="filter">絞り込み</button>
    </div>
  </form>

  <form method="GET" action="{% url 'dj_search' %}" name="filter_form">
    <legend>絞り込み条件</legend>
    <div>
        <span>パーソナリティ</span>
        {% for dj in djs %}
            <input type="checkbox" id="filter_kind_{{ dj.pk }}" 
                name="dj" 
                value="{{ dj.pk }}">{{ dj.dj_name }}
        {% endfor %}
        <button id="filter">絞り込み</button>
    </div>
  </form>

  {% for food in object_list %}
  <tr>
      <td>{{ food.get_genre_name_display }}</td>
      <td>{{ food.title }}</td>
  </tr>
  {% endfor %} 

    <h1>ONAIR番組（TBS）</h1>

    {% for program in onair_programs_TBS %}
        <div class="post">
          <h2>
            <a href="{% url 'post_detail' pk=program.pk %}">
              {{ program.program.title }}
            </a>
          </h2>
          <p>出演者：
          {% for dj in program.program.djs.all %}
            {{ dj.dj_name }}
            <!-- 末尾ではない場合 -->
            {% if not forloop.last %}
              ,
            {% endif %}
          {% endfor %}
          </p>
          {% for day_of_the_week in program.day_of_the_week.all %}
            {{ day_of_the_week }}
          {% endfor%}
          {{ program.start_time }} 〜 {{ program.end_time }}
          <!-- <p>ラジオ局：
          {% for station in program.program.stations.all %}
            {{ station.get_station_name_display }}
            {% if not forloop.last %}
              /
            {% endif %}
          {% empty %}
            No select 
          {% endfor %}
          </p> -->
          <p>お気に入り：{{ program.program.okini_num }}</p>

          <a href="{% url 'post_detail' pk=program.pk %}">

            Comments: {{ program.program.okini_num }}
          </a>
      </div>
    {% endfor %}
    <h1>新着コメント</h1>

    {% for new_coment in new_coments %}

        {% if new_coment.approved_comment %}
            <div class="comment">
                <strong>{{ new_coment.author }}</strong>
                <div class="date">
                  {{ new_coment.created_date }}
                </div>
                <strong>
                  <a href="{% url 'post_detail' pk=new_coment.program.pk %}">
                    {{ new_coment.program }}
                  </a>
                </strong>
                <p>{{ new_coment.text|linebreaks|truncatechars:100 }}</p>

                <!-- いいね -->
                {% if user.is_authenticated %}
                    {% if user in new_coment.like_user.all %}
                        <a class="btn btn-default" aria-pressed="true" onclick="like_com(event, '{{ user.id }}', '{{ new_coment.id }}')">
                        いいねあり<span>({{ new_coment.like_user.count }})</span></a>
                    {% else %}
                        <a class="btn btn-default" aria-pressed="false" onclick="like_com(event, '{{ user.id }}', '{{ new_coment.id }}')">
                        いいね<span>({{ new_coment.like_user.count }})</span></a>
                    {% endif %}
                {% else %}
                    お気に入り<span>({{ new_coment.like_user.count }})</span>
                {% endif %}
            </div>
        {% endif %}
    {% empty %}
        <p>No comments here </p>
    {% endfor %}

    <h1>ジャンル別TOP５</h1>

    {% for key, value in programs.items %}
        <h2>{{ key }}</h2>
        {% for program in value %}
            <div class="post">
                <h2>
                  <a href="{% url 'post_detail' pk=program.pk %}">
                    {{ program.title }}
                  </a>
                </h2>
                <p>出演者：
                {% for dj in program.djs.all %}
                  {{ dj.dj_name }}
                  {% if not forloop.last %}
                    ,
                  {% endif %}
                {% endfor %}
                </p>
                <p>ラジオ局：
                {% for station in program.stations.all %}
                  {{ station.get_station_name_display }}
                  {% if not forloop.last %}
                    /
                  {% endif %}
                {% empty %}
                  No select 
                {% endfor %}
                </p>
                <p>お気に入り：{{ program.okini_num }}</p>
                <a href="{% url 'post_detail' pk=program.pk %}">
                  Comments: {{ program.okini_num }}
                </a>
            </div>
        {% endfor %}
    {% endfor %}
    <h1>運営からのお知らせ</h1>
    {% for info in infos %}
        <h2>
            {{ info.title }}
        </h2>
        <p>
            {{ info.text|linebreaks }}
        </p>
    {% endfor %}
{% endblock %}