{% extends 'myapp/base.html' %}

{% block content %}
    <div class="post">
        {% if matchsign == 1 %}
          <a class="btn btn-default" href="{% url 'user_edit' pk=user.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <p>{{ this_user.username }}</p>
        <p>紹介文：{{ this_user.profile }}</p> 
        {% for okini in okinis %}
            <p>登録日時：{{ okini.date_created }}</p>
            <p>お気に入りの番組名：
              <a href="{% url 'post_detail' pk=okini.program.pk %}">
                {{ okini.program }}
              </a>
            </p>
        {% empty %}
            <p>お気に入り番組が登録されていません。 </p>
        {% endfor %}
        {% for comment in comments %}
            <p>投稿日時：{{ comment.created_date }}</p>
            <p>番組名：
              <a href="{% url 'post_detail' pk=comment.program.pk %}">{{ comment.program }}</a></p>
            <p>{{ comment.text }}</p>
        {% empty %}
            <p>No comments here </p>
        {% endfor %}

{% endblock %}